node_modules/
/reports/
/playwright-report/
/playwright/.cache/
src/test/features/_*LivingDocumentation_backup

# Do not remove the following line or you could end up publishing sensitive information
config/.env
.env*

